<div class="d-flex justify-content-center mt-5" *ngIf="!user">
  <div class="spinner-grow"></div>
</div>
<div class="m-5" *ngIf="user">
  <div class="row m-5">
    <div class="col-1"></div>
    <div class="col-3 card">
      <div class="card-body">
        <h5 class="card-title">User Stats</h5>
        <div class="row">
          <p class="card-subtitle mb-2 text-muted col-4">Username</p>
          <p class="card-subtitle mb-2 font-weight-bold col-8">{{ user.displayName }}</p>
        </div>
        <div class="row">
          <p class="card-subtitle mb-2 text-muted col-4">Email</p>
          <p class="card-subtitle mb-2 font-weight-bold col-8">{{ user.email }}</p>
        </div>
        <div class="row">
          <p class="card-subtitle mb-2 text-muted col-4">ELO</p>
          <p class="card-subtitle mb-2 font-weight-bold col-8">{{ user.elo }}</p>
        </div>
        <div class="row">
          <p class="card-subtitle mb-2 text-muted col-4">Ranking</p>
          <p class="card-subtitle mb-2 font-weight-bold col-8">{{ user.ranking }}</p>
        </div>
        <div class="row">
          <p class="card-subtitle mb-2 text-muted col-4">Battles</p>
          <p class="card-subtitle mb-2 font-weight-bold col-8">{{ user.battlesFought }}</p>
        </div>
        <div class="row">
          <p class="card-subtitle mb-2 text-muted col-4">Won</p>
          <p class="card-subtitle mb-2 font-weight-bold col-8">{{ user.battlesWon }}</p>
        </div>
        <div class="row">
          <p class="card-subtitle mb-2 text-muted col-4">Lost</p>
          <p class="card-subtitle mb-2 font-weight-bold col-8">{{ user.battlesLost }}</p>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-3 card">
      <div class="card-body">
        <div class="row text-center h-100">
          <div class="col-4 my-auto cursor-pointer">
            <app-icon [name]="'sword'" [size]="2"></app-icon>
            <p class="font-weight-bold">Battle</p>
          </div>
          <div class="col-4 my-auto cursor-pointer" routerLink="/users/leaderboards">
            <app-icon [name]="'leaderboard'" [size]="2"></app-icon>
            <p class="font-weight-bold">Leaderboard</p>
          </div>
          <div class="col-4 my-auto cursor-pointer">
            <app-icon [name]="'repository'" [size]="2"></app-icon>
            <p class="font-weight-bold text-muted">Character repository</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div>
    <h1>My Characters</h1>
    <table class="mt-5 table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Visibility</th>
          <th>Battles Fought</th>
          <th>Battles Won</th>
          <th>Battles Lost</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>{{ !character.visibility ? 'private' : 'public' }}</td>
          <td>{{ character.battlesFought }}</td>
          <td>{{ character.battlesWon }}</td>
          <td>{{ character.battlesLost }}</td>
          <td>
            <app-icon class="cursor-pointer mr-5" [name]="'edit'" [size]="1"></app-icon>
            <app-icon class="cursor-pointer mr-5" [name]="'delete'"
              [size]="1" (click)="delete(modal, character)">
            </app-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex">
      <app-icon routerLink="/users/me/characters/new"
        class="cursor-pointer mx-auto" [name]="'plus'" [size]="1"></app-icon>
    </div>
  </div>
</div>
<ng-template #modal>
  <app-confirmation-modal
    [modalRef]="modalRef"
    [data]="modalState?.character"
    [message]="modalState?.message"
    (confirmed)="confirmDeletion($event)">
  </app-confirmation-modal>
</ng-template>
