<div class="row m-5">
  <div class="col-4">
    <h1>Customize Character</h1>
    <form class="col-6" [formGroup]="form">
      <div class="mt-5">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
        <div class="text-danger" *ngIf="form.hasError('required', 'name')">
          <small>Name is required.</small>
        </div>
      </div>
    </form>
  </div>
  <div class="col-8 border-top border-right border-light p-0">
    <ngx-codemirror
      [(ngModel)]="content"
      [options]="{
        lineNumbers: true,
        theme: 'eclipse',
        mode: 'javascript'
      }"
    ></ngx-codemirror>
  </div>
</div>
<div
  class="d-flex flex-column border border-secondary rounded p-2 m-5 warning-box"
  *ngIf="hasAnalysed && analysis.length > 0">
  <div class="d-flex" *ngFor="let a of analysis">
    <app-icon class="my-auto mr-3" [name]="a.type" [size]="0.75"></app-icon>
    <span>{{ a.message }}</span>
  </div>
</div>
<div
  class="d-flex flex-column border border-secondary rounded p-2 m-5 warning-box"
  *ngIf="hasAnalysed && analysis.length === 0">
  <div class="d-flex">
    <app-icon class="my-auto mr-3" [name]="'success'" [size]="0.75"></app-icon>
    <span>Everything good!</span>
  </div>
</div>
<div class="d-flex">
  <app-icon class="mx-auto cursor-pointer" [name]="'back'" [size]="1.5"
    routerLink="/users/me/characters">
  </app-icon>
  <app-icon class="mx-auto cursor-pointer" [name]="'analysis'" [size]="1.5"
    (click)="analyse()">
  </app-icon>
  <app-icon class="mx-auto cursor-pointer" [name]="'save'" [size]="1.5"
    [hidden]="!canSubmit()">
  </app-icon>
</div>
